<launch>
  <!-- ARGS -->
  <arg name="lanelet_frame" default="map_zala_0" />
  
  <arg name="gps_yaw_offset" default="0.02" />
  <arg name="visualize" default="true" />
  <arg name="online" default="true" />
  <arg name="bag_path" default="/home/david/bags/motorway_2023-08-29/mw_70_right.bag" />

  <!-- INPUT (lanelet) -->
  <node pkg="lane_keep_system" type="lanelet_map_handler" name="lanelet_map_handler" output="screen">
    <param name="lanelet2_path" value="$(find lane_keep_system)/laneletMaps/mw.osm" />
    <param name="lanelet_frame" value="$(arg lanelet_frame)" />
    <param name="ego_frame" value="gps" />
    <param name="visualize" value="$(arg visualize)" />
  </node>

  <!-- LDM -->
  <node pkg="lane_keep_system" type="trajectory_planner" name="trajectory_planner" output="screen">
    <rosparam file="$(find lane_keep_system)/config/driverParams.yaml" />
    <param name="gps_yaw_offset" value="$(arg gps_yaw_offset)" />
    <param name="visualize" value="$(arg visualize)" />
    <param name="lanelet_frame" value="$(arg lanelet_frame)" />
  </node>

  <!-- STEERING PATH -->
  <node pkg="lane_keep_system" type="mpc_steering_path" name="mpc_steering_path" output="screen">
    <param name="lanelet_frame" value="$(arg lanelet_frame)" />
  </node>

  <!-- PLAYBACK -->
  <node pkg="rosbag" type="play" name="bag_player" output="screen" args="--clock $(arg bag_path)"  if="$(eval arg('online') == false)"/>
  
  <!-- VISUALIZATION -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find lane_keep_system)/config/trajectory.rviz" if="$(eval arg('visualize') == true)"/>

  <!-- OUTPUT (mpc) -->
  <node pkg="topic_tools" type="relay" name="cmd_relay" args="/ctrl_raw /ctrl_cmd" />
  
  <node pkg="mpc_follower" type="mpc_follower" name="mpc_follower" output="screen">

    <!-- system -->
    <param name="ctrl_cmd_interface" value="all"/>
    <param name="in_waypoints_name" value="/mpc_waypoints"/>
    <param name="in_vehicle_status_name" value="/vehicle_status"/>
    <param name="in_selfpose_name" value="/current_pose"/>
    <param name="out_twist_name" value="/twist_raw"/>
    <param name="out_vehicle_cmd_name" value="/ctrl_raw"/>

    <!-- paramters -->
    <param name="ctrl_period" value="0.03"/>
    <param name="traj_resample_dist" value="0.1"/>
    <param name="admisible_position_error" value="5.0"/>
    <param name="admisible_yaw_error_deg" value="90.0"/>
    <param name="path_smoothing_times" value="1"/>
    <param name="show_debug_info" value="false"/>
    <param name="enable_yaw_recalculation" value="true"/>
    <param name="enable_path_smoothing" value="true"/>
    <param name="path_filter_moving_ave_num" value="35"/>
    <param name="curvature_smoothing_num" value="35"/>
    <param name="steering_lpf_cutoff_hz" value="3.0"/>
    <param name="qp_solver_type" value="unconstraint_fast"/>
    <param name="qpoases_max_iter" value="500"/>
    <param name="vehicle_model_type" value="kinematics"/>
    <param name="mpc_prediction_horizon" value="70"/>
    <param name="mpc_prediction_sampling_time" value="0.1"/>
    <param name="mpc_weight_lat_error" value="0.1"/>
    <param name="mpc_weight_heading_error" value="0.0"/>
    <param name="mpc_weight_heading_error_squared_vel_coeff" value="0.3"/>
    <param name="mpc_weight_steering_input" value="1.0"/>
    <param name="mpc_weight_steering_input_squared_vel_coeff" value="0.25"/>
    <param name="mpc_weight_lat_jerk" value="0.0"/>
    <param name="mpc_weight_terminal_lat_error" value="1.0"/>
    <param name="mpc_weight_terminal_heading_error" value="0.1"/>
    <param name="mpc_zero_ff_steer_deg" value="2.0"/>
    <param name="delay_compensation_time" value="0.0"/>
    <param name="vehicle_model_steer_tau" value="0.3"/>
    <param name="vehicle_model_wheelbase" value="2.9"/>
    <param name="steer_lim_deg" value="40.0"/>
    <param name="steering_gear_ratio" value="20.0"/>
  </node>

</launch>
